version: otel_dataflow/v1
engine: { }
groups:
  default:
    pipelines:
      main:
        policies:
          channel_capacity:
            control:
              node: 100
              pipeline: 100
            pdata: 128

        nodes:
          receiver:
            type: receiver:traffic_generator
            config:
              traffic_config:
                max_signal_count: 10000
                max_batch_size: 100
                signals_per_second: 100
                log_weight: 100
              registry_path: https://github.com/open-telemetry/semantic-conventions.git[model]
          debug1:
            type: processor:debug
            config:
              verbosity: detailed
              output: /tmp/debug1.log
          transform:
            type: processor:transform
            config:
              kql_query: logs | where event_name == "gen_ai.system.message"
          debug2:
            type: processor:debug
            config:
              verbosity: detailed
              output: /tmp/debug2.log
          noop:
            type: exporter:noop
            config:

        connections:
          - from: receiver
            to: debug1
          - from: debug1
            to: transform
          - from: transform
            to: debug2
          - from: debug2
            to: noop
