version: otel_dataflow/v1
engine: { }
groups:
  default:
    pipelines:
      main:
        policies:
          channel_capacity:
            control:
              node: 100
              pipeline: 100
            pdata: 128

        nodes:
          receiver:
            type: receiver:otap
            config:
              listening_addr: "127.0.0.1:4327"
              response_stream_channel_size: 256
              compression_method: zstd

          perf_noop:
            type: exporter:noop
            config:

        connections:
          - from: receiver
            to: perf_noop
