version: otel_dataflow/v1
engine: {}
groups:
  default:
    pipelines:
      main:
          policies:
            channel_capacity:
                control:
                  node: 100
                  pipeline: 100
                pdata: 128


          nodes:
            receiver:
              type: receiver:otlp
              config:
                protocols:
                  grpc:
                    listening_addr: "127.0.0.1:4317"
                    tls:
                      cert_file: "./test-certs/server.crt"
                      key_file: "./test-certs/server.key"

            exporter:
              type: exporter:otlp
              config:
                grpc_endpoint: "https://127.0.0.1:4319"
                tls:
                  ca_file: "./test-certs/ca.crt"
                  include_system_ca_certs_pool: false

          connections:
            - from: receiver
              to: exporter
