version: otel_dataflow/v1
policies:
  channel_capacity:
    control:
      node: 100
      pipeline: 100
    pdata: 100
engine:
  telemetry:
    logs:
      level: info
groups:
  default:
    pipelines:
      main:
        nodes:
          receiver:
            type: urn:otel:receiver:otap
            config:
              listening_addr: 0.0.0.0:4317
              response_stream_channel_size: 100
              compression_method: zstd
              wait_for_result: true
          attr:
            type: urn:otel:processor:attribute
            config:
              actions:
              - action: rename
                source_key: ios.app.state
                destination_key: ios.app.state2
                apply_to:
                - signal
          exporter:
            type: urn:otel:exporter:otlp
            config:
              grpc_endpoint: http://{{backend_hostname}}:1235
              compression_method: gzip
        connections:
        - from: receiver
          to: attr
        - from: attr
          to: exporter
